@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    margin: 0px;
    padding: 0px;
    width: 98vw;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #f5f3f3;
    color: #424242;
    display: flex;
    justify-content: center;
}

.pagina {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 15px;
    /*padding: 20px;*/
    margin-top: 30px;
    margin-bottom: 30px;
    width: 22cm;
    height: 28cm;
}

.seccion1 {
    display: flex;
    flex-direction: column;
    width: 47%;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 15px;
}

.seccion1-2{
    display: flex;
    flex-direction: column;
    align-items:start;
    width: 100%;
    height: 100%;
}

.seccion1-2 h2{
    margin: 10px;
}

.seccion1_foto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image-profile {
    height: auto;
    width: 55%;
    border-radius: 50%;
    margin: 10px;
}

.profile-description {
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
}

.educacion {
    margin-left: 25px;
    margin-right: 25px;
}

.educacion p{
    margin: 0px;
}

.educacion li{
    margin-bottom: 5px;
    margin-top: 5px;
}

.contacto {
    margin-left: 25px;
}

.referencia {
    display: flex;
    align-items: center;
}

.iconos {
    width: 25px;
    height: 25px;
}

.referencia p {
    margin-left: 10px;
}

.referencia a{
    margin-left: 10px;
    color: #424242;
    margin: 10px;
}

.referencia-linkedin{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.referencia-linkedin a{
    margin-left: 10px;
    color: #424242;
}

/*-----------------------------*/

.seccion2 {
    display: flex;
    flex-direction: column;
    width: 55%;
    background: rgb(191, 243, 219);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.seccion2-2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nombre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding-top: 5px;
}

#apellido{
    margin-bottom: -20px;
}

.informacion{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 40px;
}

.informacion h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.fecha_nac{
    display: flex;
    flex-direction: row;
    margin-bottom: -30px;
}

.fecha_nac h3{
    margin-right: 7px;
}

.lugar_nac{
    display: flex;
    flex-direction: row;
}

.lugar_nac h3{
    margin-right: 7px;
}

.habilidades{
    margin-left: 25px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

.habilidades h2{
    margin-top: 10px;
    margin-bottom: -3px;
    padding-left: 10px;
}

.lista_li li{
    margin-bottom: 5px;
    margin-left: 20px;
    padding-left: 20px;
}

.skills{
    margin-top: 0px;
}

.skills li{
    margin-bottom: 5px;
    margin-left: 60px;
    padding-left: 20px;
}

.tecnologias {
    margin-left: 25px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.tecnologias h2{
    margin-top: -10px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.conocimientos{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.conocimientos h3{
    margin-bottom: 0px;
}

.tecnologias h3{
    margin-top: 0px;
    margin-bottom: 7px;
    padding-left: 50px;
}

@media (max-width: 880px){
    body{
        width: 880px;
    }
}

@media (max-width: 768px){
    body{
        width: 750px;
        height: auto;
        font-size: 14.5px;
    }

    .pagina{
        width: 90%;
    }

    .informacion h2{
        font-size: 21px;
    }

    .fecha_nac h3{
        font-size: 16px;
    }
        
    .lugar_nac h3{
        font-size: 16px;
    }
}