@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    background-color: #f5f3f3;
    color: #424242;
}

.pagina {
    display: flex;
    flex-direction: row;
    margin-left: 270px;
    margin-right: 270px;
    border: 2px solid black;
    border-radius: 30px;
    /*padding: 20px;*/
    margin-top: 30px;
    margin-bottom: 30px;
}

.seccion1 {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.image-profile {
    height: auto;
    border-radius: 50%;
    width: 60%;
    margin-left: 65px;
    margin-top: 40px;
    margin-bottom: -20px;
}

.profile-description {
    margin-left: 25px;
    margin-right: 30px;
    text-align: justify;
}

.educacion {
    margin-left: 25px;
    margin-right: 40px;
}

.educacion li{
    margin-bottom: 5px;
}

.contacto {
    margin-left: 25px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.referencia {
    display: flex;
    align-items: center;

}

.iconos {
    width: 25px;
    height: 25px;
}

.referencia p {
    margin-left: 10px;
}

.referencia a{
    margin-left: 10px;
    color: #424242;
}

.referencia-linkedin{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.referencia-linkedin a{
    margin-left: 10px;
    color: #424242;
}

/*-----------------------------*/

.seccion2 {
    display: flex;
    flex-direction: column;
    width: 500px;
    background: rgb(191, 243, 219);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-left: 1.5%;
}

.nombre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#apellido{
    margin-bottom: -15px;
}

.informacion{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 40px;
    margin-top: -10px;
}

.informacion h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.fecha_nac{
    display: flex;
    flex-direction: row;
    margin-bottom: -30px;
}

.fecha_nac h3{
    margin-right: 7px;
}

.lugar_nac{
    display: flex;
    flex-direction: row;
}

.lugar_nac h3{
    margin-right: 7px;
}

.habilidades{
    margin-left: 25px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

.habilidades h2{
    margin-top: 10px;
    margin-bottom: -3px;
    padding-left: 10px;
}

.lista_li li{
    margin-bottom: 5px;
    margin-left: 20px;
    padding-left: 20px;
}

.skills li{
    margin-bottom: 5px;
    margin-left: 60px;
    padding-left: 20px;
}

.tecnologias {
    margin-left: 25px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.tecnologias h2{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.conocimientos{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.conocimientos h3{
    margin-bottom: 0px;
}

.tecnologias h3{
    margin-top: 0px;
    margin-bottom: 7px;
    padding-left: 50px;
}