<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Mijael Rojas</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="pagina">
        <div class="inicio">
            <div class="content-foto">
                <img class="foto" src="../assets/images/Guitarra.avif" alt="Guitarra">
            </div>
            <div class="texto">
                <div class="nombre">
                    <h1>Rojas Arias</h1>
                    <h1 id="nom">Mijael Jhonatan</h1>
                </div>
                <p>Tecnico Medio en Informatica</p>
                <p>Fecha de nacimiento: 24-05-2003</p>
                <p>Lugar de nacimiento: Murillo-La Paz-Bolivia</p>
            </div>
        </div>

        <div class="perfil">
            <div class="contenido_per">
                <h2>Perfil</h2>
                <!--<p>Estoy estudiando programacion por que desde que estaba en el colegio me empezo a interesar este mundo, me atrae la idea de poder realizar programas personalizados y proyectos grandes.</p>-->
                <p>La posibilidad de desarrollar software a medida es particularmente intrigante para mí, ya que implica la adaptación de soluciones a necesidades específicas. Mi objetivo no se limita a la construcción de pequeñas herramientas, sino que se extiende a contribuir en proyectos de mayor envergadura.</p>
            </div>

            <div class="habilidades">
                <h2>Habilidades</h2>
                <ul>
                    <li>Proactividad</li>
                    <li>Adaptabilidad</li>
                    <li>Trabajo en equipo</li>
                    <li>Respondabilidad</li>
                    <li>Resilencia</li>
                </ul>
            </div>
        </div>

        <div class="info">
            <div class="contacto">
                <h2>Contacto</h2>
                <div class="referencia">
                    <img class="iconos" src="../assets/icons/ubicacion.png" alt="">
                    <p>La Paz - Bolivia</p>
                </div>

                <div class="referencia">
                    <img class="iconos" src="../assets/icons/gmail.png" alt="">
                    <p>rojasmijael67@gmail.com</p>
                </div>

                <div class="referencia">
                    <img class="iconos" src="../assets/icons/telefono.png" alt="">
                    <p>60121247</p>
                </div>
            </div>

            
            <div class="info_edu">
                <div class="tecnologia">
                    <h2>Tecnologias que conozco</h2>

                    <h3>Conociemientos</h3>

                    <ul id="lista1">

                        <li>POO</li>
                        <li>Ingles: Intermedio</li>
                        <li>Modelo - Vista - Controlador</li>

                        <p><strong>Lenguajes de programacion</strong></p>

                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Java Script</li>
                        <li>Java (Spring Boot)</li>
                        <li>C#</li>
                        <li>C++</li>
                        <li>Python</li>
                        <li>Git</li>
                        <li>Git Hub</li>

                        <p><strong>Base de datos</strong></p>

                        <li>MySQL</li>
                        <li>SQL Server</li>
                        <li>Mongo DB</li>
                    </ul>
                </div>
                <div class="educacion">
                    <h2>Educacion</h2>

                    <ol id="lista2">
                        <li>Bachillerato</li>
                        <p>U. E. "La Primera" Diciembre 2020</p>
                        <li>Tecnico Medio en Informatica</li>
                        <p>Ministerio de Educacion Febrero 2017 - Diciembre 2020</p>
                        <li>Introduccion a la CiberSeguridad CISCO</li>
                        <li>Python Udemy</li>
                    </ol>

                </div>

            </div>

        </div>
    </div>

</body>

</html>