<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI CV</title>
    <link rel="stylesheet" href="../css/style2.css">
</head>

<body>
    <div class="pagina">
        <div class="seccion1">
            <div class="seccion1_foto">
                <img class="foto" src="../assets/images/Guitarra.avif" alt="Foto">
            </div>
            <div class="perfil">
                <h2>Perfil</h2>
                <p>La posibilidad de desarrollar software a medida es particularmente intrigante para mí, ya que implica
                    la adaptación de soluciones a necesidades específicas. Mi objetivo no se limita a la construcción de
                    pequeñas herramientas, sino que se extiende a contribuir en proyectos de mayor envergadura.</p>
            </div>
            <div class="educacion">
                <h2>Educacion</h2>
                <ol>
                    <li>Bachillerato</li>
                    <p>U. E. "La Primera" Diciembre 2020</p>
                    <li>Tecnico Medio en Informatica</li>
                    <p>Ministerio de Educacion Febrero 2017 - Diciembre 2020</p>
                    <li>Introduccion a la CiberSeguridad CISCO</li>
                    <li>Python Udemy</li>
                </ol>
            </div>

            <div class="contacto">
                <h2>Contacto</h2>
                <div class="referencia">
                    <img class="iconos" src="../assets/icons/ubicacion.png" alt="">
                    <p>La Paz - Bolivia</p>
                </div>

                <div class="referencia">
                    <img class="iconos" src="../assets/icons/gmail.png" alt="">
                    <p>rojasmijael67@gmail.com</p>
                </div>

                <div class="referencia">
                    <img class="iconos" src="../assets/icons/telefono.png" alt="">
                    <p>60121247</p>
                </div>
            </div>


        </div>
        <div class="seccion2">

        </div>
    </div>
</body>

</html>