<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI CV</title>
    <link rel="stylesheet" href="../css/style2.css">
</head>

<body>
    <div class="pagina">
        <div class="seccion1">
            <div class="seccion1_foto">
                <img class="foto" src="../assets/images/Guitarra.avif" alt="Foto">
            </div>
            <div class="perfil">
                <h2>Perfil</h2>
                <p>La posibilidad de desarrollar software a medida es particularmente intrigante para mí, ya que implica
                    la adaptación de soluciones a necesidades específicas. Mi objetivo no se limita a la construcción de
                    pequeñas herramientas, sino que se extiende a contribuir en proyectos de mayor envergadura.</p>
            </div>
            <div class="educacion">
                <h2>Educación</h2>
                <ol>
                    <li>Bachillerato</li>
                    <p>U. E. "La Primera" Diciembre 2020</p>
                    <li>Técnico Medio en Informática</li>
                    <p>Ministerio de Educacion Febrero 2017 - Diciembre 2020</p>
                    <li>Introducción a la CiberSeguridad CISCO</li>
                    <li>Python Udemy</li>
                </ol>
            </div>

            <div class="contacto">
                <h2>Contacto</h2>
                <div class="referencia">
                    <img class="iconos" src="../assets/icons/ubicacion.png" alt="">
                    <p>La Paz - Bolivia</p>
                </div>

                <div class="referencia">
                    <img class="iconos" src="../assets/icons/gmail.png" alt="">
                    <a href="https://mail.google.com">rojasmijael67@gmail.com</a>
                </div>

                <div class="referencia">
                    <img class="iconos" src="../assets/icons/telefono.png" alt="">
                    <p>60121247</p>
                </div>
                <div class="referencia">
                    <img class="iconos" src="../assets/icons/facebook.png" alt="facebook">
                    <a href="https://www.facebook.com/MijaeljhonatanR/">Rojas Mijael Jhonatan</a>
                </div>
            </div>
        </div>
        <div class="seccion2">
            <div class="nombre">
                <h1 id="apellido">Rojas Arias</h1>
                <h1>Mijael Jhonatan</h1>
            </div>

            <div class="informacion">
                <h2>Técnico Medio en Informática</h2>
                <div class="fecha_nac">
                    <h3>Fecha de nacimiento:</h3>
                    <h3>24-05-2003</h3>
                </div>
                <div class="lugar_nac">
                    <h3>Lugar de nacimiento:</h3>
                    <h3>La Paz - Bolivia</h3>
                </div>
            </div>
            <div class="habilidades">
                <h2>Habilidades</h2>
                <ul class="lista_li">
                    <li>Proactividad</li>
                    <li>Adaptabilidad</li>
                    <li>Trabajo en equipo</li>
                    <li>Respondabilidad</li>
                    <li>Resilencia</li>
                </ul>
            </div>

            <div class="tecnologias">
                <h2>Tecnologias que conozco</h2>
                    <h3>Conociemientos</h3>
                    <ul class="lista_li2">
                        <li>POO</li>
                        <li>Inglés: Intermedio</li>
                        <li>Modelo - Vista - Controlador</li>
                    </ul>

                <h3>Lenguajes y tecnologias</h3>
                <ul class="lista_li2">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Java Script</li>
                    <li>Java (Spring Boot)</li>
                    <li>C#</li>
                    <li>C++</li>
                    <li>Python</li>
                    <li>Git</li>
                    <li>Git Hub</li>
                </ul>
                <h3>Bases de datos</h3>
                <ul class="lista_li2">
                    <li>MySQL</li>
                    <li>SQL Server</li>
                    <li>Mongo DB</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>