<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Mijael Rojas</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Curriculum Mijael Rojas</h1>
    <h2>Presentacion</h2>
    <h3>Nombre: Mijael Jhonatan Rojas Arias</h3>
    <p>Estoy estudiando programacion por que desde que estaba en el colegio me empezo a interesar este mundo, me atrae la idea de poder realizar programas personalizados y proyectos grandes.</p>
    <br>
    <h1 class="titulo">Guitarra</h1>
    <img src="../assets/images/Guitarra.avif" alt="guitarra">
    <p class="parrafo">La imagen de una guitarra ya que en mis tiempos libres me gusta tocar la guitarra</p>
    <br>
    <h1 class="titulo">Pure de papa</h1>
    <img src="../assets/images/PureDePapa.png" alt="Pure de papa">
    <p class="parrafo">El pure de papa es uno de los platos que mas me gustan, desde que era niño me gusta el plato</p>
    <br>
    <h2>Tecnologias que conozco</h2>

    <h3>Conociemientos</h3>

    <ul id="lista1">

        <li>POO</li>
        <li>Ingles: Intermedio</li>
        <li>Modelo - Vista - Controlador</li>

        <p><strong>Lenguajes de programacion</strong></p>

        <li>HTML</li>
        <li>CSS</li>
        <li>Java Script</li>
        <li>Java (Spring Boot)</li>
        <li>C#</li>
        <li>C++</li>
        <li>Python</li>
        <li>Git</li>
        <li>Git Hub</li>

        <p><strong>Base de datos</strong></p>

        <li>MySQL</li>
        <li>SQL Server</li>
        <li>Mongo DB</li>
    </ul>
    <br>

    <h2>Educacion</h2>

    <ol id="lista2">
        <li>Bachillerato</li>
        <p>U. E. "La Primera" Diciembre 2020</p>
        <li>Tecnico Medio en Informatica</li>
        <p>Ministerio de Educacion Febrero 2017 - Diciembre 2020</p>
        <li>Introduccion a la CiberSeguridad CISCO</li>
        <li>Python Udemy</li>
    </ol>
</body>
</html>

